html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}












*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url(./fonts/MuseoSansCyrl100.woff) format(woff),
        url(./fonts/MuseoSansCyrl100.eot) format(eot),
        url(./fonts/MuseoSansCyrl100.ttf) format(ttf),
        url(./fonts/MuseoSansCyrl100.otf) format(otf);         
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url(./fonts/MuseoSansCyrl300.woff) format(woff),
        url(./fonts/MuseoSansCyrl300.eot) format(eot),
        url(./fonts/MuseoSansCyrl300.ttf) format(ttf),
        url(./fonts/MuseoSansCyrl300.otf) format(otf);         
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url(./fonts/MuseoSansCyrl700.woff) format(woff),
        url(./fonts/MuseoSansCyrl700.eot) format(eot),
        url(./fonts/MuseoSansCyrl700.ttf) format(ttf),
        url(./fonts/MuseoSansCyrl700.otf) format(otf);         
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    background-image: url(./img/bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #010E17;
    font-family: Museo Sans Cyrl;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(159, 159, 159, 0.3);
}

.main-header__menu-list {
    display: flex;
    gap: 38px;
    justify-content: space-between;
    align-items: center;
}

.main-header__menu-item:nth-child(1) {
    margin-right: auto;
}

.main-header__menu-link{
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
    transition: .7s
}

.main-header__menu-link:hover {
    color: #9F9F9F;
    border-bottom: 1px solid #9F9F9F;
}

